/* ALL */

body {
    font-family: 'Archivo', sans-serif;
    background-color: #F3F3F3;
}


/* BANNER */
.header-name {
    background-image: url('../images/background.jpg');
    padding: 100px;
    font-size: 50px;
    color: white;
    background-position: 0px -70px;
    margin-top: 0px;
}

@media screen and (max-device-width: 480px) {
    .header-name {
        font-size: 7em;
    }
}


/* PORTFOLIO PROJECTS */

.portfolio {
    display: flex;
    flex-direction: column;
    margin: 2.2em 0 2.2em 0;
}

.portfolio h2 {
    text-align: center;
    font-size: 2.2em;
}

.portfolio .container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.portfolio .pic {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border: 1px solid black;
    height: 18em;
    width: 23em;
    background-size: 180%;
    background-repeat: no-repeat;
    background-position: center;
}

.portfolio .pic:hover {
    opacity: 0.5;
}

.portfolio .card {
    margin-top: 2em;
}

.portfolio h3 {
    background-color: black;
    color: white;
    width: 100%;
    padding: 2%;
    text-align: center;
}

.portfolio a {
    text-decoration: none;
}

.portfolio .more-info {
    text-align: center;
    color: white;
    border-radius: 10px;
    margin-top: 1%;
    background-color: black;
}

.portfolio .info {
    background-color: black;
    color: white;
    padding: 5%;
    display: none;
}

.portfolio .dasmoto {
    background-image: url(../images/portfolio-sites/dasmoto.png);
    background-position: 0%;
}

.portfolio .excursion {
    background-image: url(../images/portfolio-sites/excursion.png);
}

.portfolio .tea-cozy {
    background-image: url(../images/portfolio-sites/tea-cozy.png);
}

.portfolio .company {
    background-image: url(../images/portfolio-sites/company.png);
}

.portfolio .club {
    background-image: url(../images/portfolio-sites/club.png);
}

.portfolio img {
    width: 40%;
    height: auto;
}

@media screen and (max-device-width: 480px) {
    .portfolio .container {
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
    }

    .portfolio .card {
        height: 35em;
        width: 40em;
    }

    .portfolio h3 {
        font-size: 2.5em;
    }
}