/* nav {
    background-color: black;
    padding: 1px;
    margin-bottom: 0px;
}

nav ul .navlist {
    display: inline;
    padding: 8px;
}

nav ul .navlist:hover {
    background-color: white;
}

nav ul .navlist a {
    color: white;
}

nav ul .navlist a:hover {
    color: #1B1B1B;
} */

.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    justify-items: stretch;
    text-align: center;
}

.nav-button {
    background-color: black;
    color: white;
    text-decoration: none;
}

.nav-button:hover {
    color: black;
    background-color: white;
}