.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    justify-items: stretch;
    text-align: center;
}

.nav-button {
    background-color: black;
    color: white;
    text-decoration: none;
}

.nav-button:hover {
    color: black;
    background-color: white;
}

@media screen and (max-device-width: 480px) {
    .navbar {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        font-size: 2em;
    }
}