body {
    font-family: verdana;
    background-color: #F3F3F3;
}

nav ul .navlist {
    display: inline;
    padding: 8px;
    background-color: #1B1B1B;
    border-radius: 10px;
}

nav ul .navlist:hover {
    background-color: white;
}

nav ul .navlist a {
    color: white;
}

nav ul .navlist a:hover {
    color: #1B1B1B;
}

.header-name {
    background-image: url('../images/background.jpg');
    padding: 100px;
    font-size: 50px;
    color: white;
    background-position: 0px -70px;
}